<!DOCTYPE html>
<html>
<head>
	<title>Getting to know Vue.js</title>
	<meta charset="utf-8" />
</head>
<body>

<div id="app">
</div>
<input type="hidden" id="router_base" value="localhost/gig/development/vue_dev">

<script src="assets/index.bundle.js" type="text/javascript"></script>
<!-- <script>
	var app = new Vue({
		el: '#app',
		data: {
			text: "Hello from getting to know Vue.js",
			yes: true,
        	no: false,
        	myName: "Cool Name",
        	dummyName: "This is a test to check the data property",
        	age: 27,
        	name: "",
        	count: 4,
		},
		template: `
			<div>
				<div v-bind:name="myName"></div>
				<div>{{ 1 == 2 ? 'yes it is' : 'no it is not!' }}</div>
				<div>{{ 'Getting to know Vue.js'.toUpperCase() }}</div>
				<div>{{smallerCase()}}</div>
				<div>{{capText}}</div>

				<h1>
					1.<span v-show="yes">Yes show</span>
				</h1>
				<h1>
					2.<span v-show="no">No don't show</span>
				</h1>
				<h4 v-if="no">Don't show</h4>
				<h4 v-else>Show due to if statement false</h4>

				<template v-if="no">
					<h4>Don't show this</h4>
					<p>It's a secret</p>
				</template>
				<template v-if="yes">
					<h4>Show this</h4>
					<p>Share this with the public</p>
				</template>

				<p>My age is {{age}}</p>
				<button v-on:click.once="addAge(10)">Increment Age by 10 once</button>
				<button v-on:click="subtractAge(4)">Decrement Age by 4</button>

				<input type="text" v-model="name" />
				<p>My name is {{name}}</p>
				<div v-html="counted"></div>
			</div>
		`,
		methods: {
			smallerCase: function(){
				return this.dummyName.toLowerCase();
			},
			addAge: function(age){
				this.age += age;
			},
			subtractAge: function(age){
				this.age -= age;
			},
			logName: function(){

			}
		},
		computed: {
			capText: function(){
				return this.dummyName.toUpperCase();
			},
			counted: function(){
				let counted = "";
				if(this.count == 1){
					counted = "<p>You></p>";
				}else if(this.count > 1){
					counted = "<p>others like this</p>";
				}
				return counted;
			}
		}
		
	});
</script> -->

</body>
</html>