<template>
   <div>
       <h1>THis is a test for vue router default page using route-view</h1>
   </div>
</template>

<script>
export default {
    data(){
        return{

        }
    }
}
</script>

<style>

</style>