<template>
  <div>
    <p>{{newMessage}}</p>
    <p>{{objValue}}</p>
    <p>This is a test case for routing case</p>
    <button @click="changeObjProp">Modify Obj</button>
    <button @click="changeMsgProp">Change message</button>
  </div>
</template>

<script>
import { updateObject } from '../utils/index';

export default {
    props: ['message','objA'],
    data(){
        return{
            newMessage: this.message,
            objValue: [{
                ...this.objA
            }],
        }
    },
    beforeUpdate(){
        console.log(JSON.stringify(this.newMessage));
    },
    methods: {
        changeMsgProp(){
        this.newMessage =  "Changing props value from a component";
        },
        changeObjProp(){
        // here is a test for reactivity in Vue so that vue can do it job
        let newObj = {
            id: 6,
            post_status_id: 10,
            sender_id: 1,
            comment: "here is the new comment section from the component",
            status: 1,
            comment_date: "2020-11-11 15:32:21",
            firstname: "Alatise",
            lastname: "Oluwaseun",
            sender_image: ""
        }
        this.objValue.push(newObj);
        },
    },
}
</script>

<style>

</style>