<template>
  <div>
    <!-- <app-main 
      :message="message"
      :objA="objA"
      >
    </app-main> -->
    <router-view></router-view>
  </div>
</template>

<script>
import { updateObject } from './utils/index';
import Home from './pages/Home.vue';

export default {
  props: ['message','objA'],
  components: {
    'app-main': Home,
  },
  data: function(){
    return { 
      
    }
  },
}
</script>

<style scoped>

</style>
